
<% layout('/layouts/boilerplate') %>
<div class="responsive-container-block bigContainer">
    <div class="responsive-container-block Container">
      <div class="responsive-container-block leftSide">
        <p class="text-blk heading">
        Meet Our Creative Team
        </p>
        <h2 style="color: white;">About us</h2>
        <p class="text-blk subHeading">
         <span style="font-weight: bold;">  Welcome to </span><span style="text-decoration: solid; color: blue;">Vipin Yadav, Vishal Tomar, Vishal Gour, Sandeep Yadav</span> – your gateway to unforgettable travel experiences!
          At <span  style="text-decoration: solid; color: blue;"><a href="listings">[Global Gateway],</a></span><span style="font-size: medium;">our mission is to simplify the rental process by connecting tenants with the perfect accommodations.
             Whether you're looking for a cozy studio, a spacious apartment, or a budget-friendly shared room,
             we’re here to help you find a place that feels like home. we’re here to make your travel dreams come true.</span> 
        </p>

        
       <h2 style="color: white;">Our Story</h2>
       <p style="color: white;"><span></span>ś
        Founded by passionate hosts and real estate enthusiasts,
        <span  style="text-decoration: solid; color: blue;"><a href="listings">[Global Gateway],</a></span> began with a simple idea: 
        <span><br><br>To create a seamless and reliable platform for renters and homeowners to connect effortlessly. Over the years, we’ve grown into a trusted marketplace, offering a diverse selection of apartments, houses, studios, and shared accommodations.
           Our mission is to simplify the rental process by providing verified listings, secure transactions, and a hassle-free experience for both landlords and tenants.
       Whether you're looking for a cozy studio, a spacious house, or a budget-friendly shared room, [GLobal Gateway] ensures that you find the perfect place to call home</span>.</p>
      </div>
      <div class="responsive-container-block rightSide">
        <img class="number1img" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/ET32.jpg">
        <img class="number2img" src="/images/summe.jpg">
        <img class="number3img" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/b245.png">
        <img class="number5img" src="/images/Desert.jpg">
        <img src="/images/house4.jpg" alt="" allowfullscreen="allowfullscreen" class="number4vid" />
        </iframe>
        <img class="number7img" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/d51.png">
        <img class="number6img" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/d12.png">
      </div>
    </div>
  </div>