<% layout('/layouts/boilerplate') %>
<div class="responsive-container-block bigContainer">
    <div class="responsive-container-block Container">
      <div class="responsive-container-block leftSide">
        <p class="text-blk heading">
        Meet Our Creative Team
        </p>
        <h2 style="color: white;">About us</h2>
        <p class="text-blk subHeading">
         <span style="font-weight: bold;">  Welcome to </span><span style="text-decoration: solid; color: blue;"> Raj Patil, Vishal Tomar, Rishita Chouhan, Kanhaiya Patidar</span> – your gateway to unforgettable travel experiences!
          At <span  style="text-decoration: solid; color: blue;"><a href="listings">[Global Gateway],</a></span><span style="font-size: medium;">our mission is to inspire and guide you on your journey to discovering 
          the world’s most captivating destinations. Whether you're planning a relaxing getaway, an adventurous expedition, 
          or a cultural exploration, we’re here to make your travel dreams come true.</span> 
        </p>
       <h2 style="color: white;">Our Story</h2>
       <p style="color: white;"><span></span>
        Founded by passionate travelers and adventure enthusiasts,
        <span  style="text-decoration: solid; color: blue;"><a href="listings">[Global Gateway],</a></span> began with a simple idea: 
        <span><br><br>to provide a one-stop platform for travelers seeking authentic and memorable experiences. 
          Over the years, we’ve grown into a trusted resource for millions of globetrotters, offering curated travel 
          guides, handpicked tours, and a wealth of local insights</span>.</p>
      </div>
      <div class="responsive-container-block rightSide">
        <img class="number1img" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/ET32.jpg">
        <img class="number2img" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/d14.png">
        <img class="number3img" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/b245.png">
        <img class="number5img" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Customer supports.png">
        <img src="https://cdn.pixabay.com/photo/2021/07/25/12/22/tourist-attraction-6491734_1280.jpg" alt="" allowfullscreen="allowfullscreen" class="number4vid" />
        </iframe>
        <img class="number7img" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/d51.png">
        <img class="number6img" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/d12.png">
      </div>
    </div>
  </div>