<% layout('/layouts/boilerplate') %>
  <!-- Navbar (sit on top) -->

  <!-- Header -->
  <header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
    <img class="w3-image" src="/images/home.jpg" alt="Architecture" width="1500" height="800">
    <div class="w3-display-middle w3-margin-top w3-center">
      <h1 class="w3-xlarge w3-text-white">
        <span class="w3-padding w3-black w3-opacity-min"><b>NXT</b></span>
        <span class="w3-text-light-grey">Door</span>
      </h1>

    </div>
  </header>

  <!-- Page content -->
  <div class="w3-content w3-padding" style="max-width:1564px">

    <!-- Project Section -->
    <div class="w3-container w3-padding-32" id="projects">
      <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Find out</h3>
    </div>

    <div class="w3-row-padding">
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <div class="w3-display-topleft w3-black w3-padding w3-opacity">1BHK</div>
          <img src="/images/1bhk.jpg" alt="House" style="width:100%">
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <div class="w3-display-topleft w3-black w3-padding w3-opacity">2BHK</div>
          <img src="/images/2bhk.jpg" alt="House" style="width:100%">
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <div class="w3-display-topleft w3-black w3-padding w3-opacity">3BHK</div>
          <img src="/images/3bhk.jpg" alt="House" style="width:100%">
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <div class="w3-display-topleft w3-black w3-padding w3-opacity">Barn House</div>
          <img src="/images/house4.jpg" alt="House" style="width:100%">
        </div>
      </div>
    </div>
    <br><br>
    <div class="w3-row-padding">
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <div class="w3-display-topleft w3-black w3-padding w3-opacity">Summer House</div>
          <img src="/images/summe.jpg" alt="House" style="width:99%">
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <div class="w3-display-topleft w3-black w3-padding w3-opacity">Brick House</div>
          <img src="/images/brick.jpg" alt="House" style="width:99%">
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <div class="w3-display-topleft w3-black w3-padding w3-opacity">Renovated</div>
          <img src="/images/renovated.jpg" alt="House" style="width:99%">
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <div class="w3-display-topleft w3-black w3-padding w3-opacity">Stylish Kitchen</div>
          <img src="/images/BARN.jpg" alt="House" style="width:99%">
        </div>
      </div>
    </div>

    <!-- About Section -->
    <div class="w3-container w3-padding-32" id="about">
      <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">About</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur
        adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>

    <div class="w3-row-padding w3-grayscale">
      <div class="w3-col l3 m6 w3-margin-bottom">
        <img src="/images/Faceless.png" alt="John" style="width:100%">
        <h3>Vishal Tomar</h3>
        <p class="w3-opacity">Developer</p>
        <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
        <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <img src="/images/Faceless.png" alt="Jane" style="width:100%; ">
        <h3>Sandeep Yadav</h3>
        <p class="w3-opacity">Developer</p>
        <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
        <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <img src="/images/Faceless.png" alt="Mike" style="width:100%; ">
        <h3>Vishal Gour</h3>
        <p class="w3-opacity">Developer</p>
        <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
        <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <img src="/images/Faceless.png" alt="Dan" style="width:100%">
        <h3>Vipin Yadav</h3>
        <p class="w3-opacity">Developer</p>
        <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
        <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
      </div>
    </div>
    <!-- Contact Section -->



    <!-- Image of location/map -->
    <div class="w3-container">
      <img src="/images/map.jpg" class="w3-image" style="width:100%">
    </div>

    <!-- End page content -->
  </div>